<form [formGroup] = "formulario" (ngSubmit) = "addCuchillo()">

<label for="id">Id:</label>
<input type="number" formControlName="id"/>

<label for="nombre">Nombre:</label>
<input type="text" formControlName="nombre">

<label for="tipo">Tipo:</label>
<input type="text" formControlName="tipo">

<label for="tipoDeFilo">Tipo de filo:</label>
<input type="text" formControlName="tipoDeFilo">

<label for="materialHoja">Material Hoja:</label>
<input type="text" formControlName="materialHoja">

<label for="materialMango">Material Mango:</label>
<input type="text" formControlName="materialMango">

<label for="longitudHoja">Longitud hoja:</label>
<input type="number" formControlName="longitudHoja">

<label for="longitudTotal">Longitud total:</label>
<input type="number" formControlName="longitudTotal">


<button>Agregar</button>
</form>





























